<!DOCTYPE HTML>
<html>

<head>
    <title>{% block title %} mgui {% endblock %}</title>
    <link rel='stylesheet'
          href="/static/css/jquery-ui-1.10.1.custom.min.css"
          type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Materials Design, Materials Database, Materials Information, Materials Tools" />
    <meta name="description"
          content="Simple access web front end for pymatgen-db databases." />
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.10.1.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.json2html-3.1-min.js" ></script>
    <script type="text/javascript" src="/static/js/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/DataTables-1.9.4/extras/TableTools/media/js/TableTools.min.js"></script>
    <script type="text/javascript" src="/static/js/DataTables-1.9.4/extras/Scroller/media/js/dataTables.scroller.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.spinner.js"></script>
    <script type="text/javascript" src="/static/js/home.js"></script>
    <link rel="shortcut icon" href='/static/images/favicon.ico'/>
    <link rel='stylesheet' href="/static/js/DataTables-1.9.4/extras/TableTools/media/css/TableTools.css" type='text/css'>
    <link rel='stylesheet' href="/static/js/DataTables-1.9.4/media/css/jquery.dataTables.css" type='text/css'>
    <link rel='stylesheet' href="/static/css/home.css" type='text/css'>

    {% block extra_css %}{% endblock extra_css %}
    {% block top_javascript %}
    <script type="text/javascript">
    {% autoescape off %}
        setCollKeys({{ keys_list }});
    {% endautoescape %}
    </script>
    {% endblock top_javascript %}
</head>

<body>
<h1>materials genomics ui</h1>
<h2 id="subtitle">Connected to: {{ host }}:{{ port }} with {{ ndocs }} docs.</h2>
<div id="search-div">
    <div id="fields-div">
        <div class="input-div">
            <label for="criteria-input"><span
                    class="emph">criteria</span> as formula, task_id,
                chemical system or
                mongo query string</label>
            <input id="criteria-input" type="text" name="criteria"
                   class="text-search"
                   placeholder='Examples: "Li2O", "1234", "Li-Fe-O", {"pretty_formula": "Li2O"}'/>
        </div>
        <div class="input-div">
            <label for="properties-input"><span
                    class="emph">properties</span> as space-separated
                strings or "*" (slow) for all properties.</label>
            <input id="properties-input" type="text"
                   name="properties" class="text-search"
                   placeholder='Example: "task_id energy_per_atom"'/>
        </div>
        <div class="input-div">
            <table id="options-div">
                <tr>
                    <td>
                <span class="emph">display format:
                <input type="radio" name="display" value="table" checked>table
                <input type="radio" name="display" value="tree">tree</span>
                    </td>
                    <td>
                    <td><span id="limit-label" class="emph">limit: </span></td><td>
                    <div id="limit-slider-wrapper">
                        <label id="limit-text">30</label>
                        <div id="limit-slider"></div>
                    </div>
                </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="search-button-div" class="input-div">
        <button class ="buttons" id="search-button">Search</button>
        <p id="error_msg"></p>
        <p id="help_msg"></p>
    </div>
</div>

<div style=";margin-top:20px;">

    <div class='divider' style='margin-top:40px;'></div>
    <h2 id="num-results">x results</h2>
    <div id='result-tree'></div>
    <div id='results-table-div'>
    <table id='results-table'>
    </table>
    </div>
</div>

</body>

</html>
