h1 {
    text-align: center;
}

input {
    font-size: 1.1em;
}

.text-search {
    height: 40px;
    width: 100%;
    border: 2px solid #AAA;
    text-align: center;
}

label {
    font-size: 0.9em;
    color: #888;
    padding: 20px;
}

#search-div {
    width: 100%;
}

.input-div {
    padding-top: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.2em;
}

#result-tree {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: None;
    font-size: 1.1em;
}

#results-table-div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: None;
}

#results-table {
    font-size: 1.1em;
}

td {
    vertical-align: top;
}

#num-results {
    display: None;
    text-align: center;
    font-size: 1em;
    margin-top: -10px;
}

#search-button {
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
}

#subtitle {
    margin-top: -10px;
    font-size: 1em;
    color: #888;
    text-align: center;
}

#page {
    min-height: 600px;
}

.package {
    margin-left: 10px;
    padding: 3px;
    border-radius: 2px;
    margin-top: 2px;
}

.header {
    cursor: pointer;
}

.name {
    color: gray;
}

.array {
    background-color: #FFD8BB;
    border: thin solid #FFB780;
}

.object {
    background-color: #E7F1FE;
    border: thin solid #7DA2CE;
}

.string {
    color: red;
}

.number {
    color: blue;
}

.function {
    color: green;
}

.open .children {
    display: block;
}

.closed .children {
    display: none;
}

.arrow {
    background-image: url("/static/images/d.png");
    background-repeat: no-repeat;
    background-color: transparent;
    height: 15px;
    width: 15px;
    display: inline-block;
}

.open .arrow {
    background-position: -20px 0;
}

.closed .arrow {
    background-position: 0 0;
}

.type {
    color: gray;
    font-size: 8pt;
    float: right;
}

.hide {
    display: none;
}

#main {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}

.emph {
    font-size: 1.3em;
    color: #000;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}